.kMp5sM .container {
  max-width: 1168px;
  padding: 0 1em;
  margin: 0 auto;
}
.kMp5sM .row {
  margin: 0 -1em;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .kMp5sM .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.kMp5sM .col {
  width: 33.3333%;
  float: left;
  padding: 1rem 0rem;
}
@media only screen and (max-width: 992px) {
  .kMp5sM .col {
    width: 50%;
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  .kMp5sM .col {
    width: 100%;
    float: none;
  }
}
.kMp5sM .pricing-box {
  padding: 0 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.kMp5sM .pricing-box .img-area, .kMp5sM .pricing-box .text-area {
  text-align: center;
  padding: 0 2rem;
  flex-wrap: wrap;
}
.kMp5sM .pricing-box.highlight {
  background: rgba(0, 0, 0, 0.2);
}
.kMp5sM .pricing-box img {
  height: auto;
  width: 4rem;
}
.kMp5sM .pricing-box h1, .kMp5sM .pricing-box h2, .kMp5sM .pricing-box h3, .kMp5sM .pricing-box h4, .kMp5sM .pricing-box h5, .kMp5sM .pricing-box h6, .kMp5sM .pricing-box sup, .kMp5sM .pricing-box sub, .kMp5sM .pricing-box p {
  color: var(--theme-color);
}
.kMp5sM .pricing-box h1 {
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  padding: 1rem 0;
  margin: 1rem 0;
}
.kMp5sM .pricing-box h3 {
  padding: 1rem 0;
  margin: 1rem 0;
}
.kMp5sM .pricing-box sup {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}
.kMp5sM .pricing-box sub {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}
.kMp5sM .pricing-box p {
  padding: 0 0 1rem 0;
  margin: 0;
}
.kMp5sM .pricing-box ul {
  padding: 0 0 30px;
  list-style: none;
  margin: 0;
}
.kMp5sM .pricing-box ul li {
  margin-bottom: 1rem;
  line-height: 2rem;
}
.kMp5sM .pricing-box ul li:last-child {
  margin: 0;
}
.kMp5sM .pricing-box a {
  padding: 1rem 2rem;
  background: var(--button-color);
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  line-height: 26px;
  text-decoration: none;
}
