.kMBh0N * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kMBh0N .container {
  max-width: 1192px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .kMBh0N .container {
    padding: 0 32px;
  }
}
@media only screen and (max-width: 400px) {
  .kMBh0N .container {
    padding: 0 8px;
  }
}
.kMBh0N ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.kMBh0N .services {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -16px;
}
@media only screen and (max-width: 1024px) {
  .kMBh0N .services {
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .kMBh0N .services {
    max-width: 298px;
    margin: 0 auto;
  }
}
.kMBh0N .services li {
  width: 25%;
  padding: 16px;
  margin-bottom: 2px;
}
@media only screen and (max-width: 1024px) {
  .kMBh0N .services li {
    width: 33.3%;
  }
}
@media only screen and (max-width: 992px) {
  .kMBh0N .services li {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .kMBh0N .services li {
    width: 100%;
  }
}
.kMBh0N .services li a {
  border: 1px solid var(--grayColorB);
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: var(--textColorB);
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 32px 16px 16px;
  text-decoration: none;
}
.kMBh0N .services li a .h3 {
  color: var(--theme-color);
  max-width: 155px;
  margin: 0 auto 4px;
  line-height: 32px;
}
.kMBh0N .services li a p {
  line-height: 16px;
  margin-bottom: 8px;
}
.kMBh0N .services li a .ico-holder {
  width: 128px;
  height: 128px;
  border: 2px solid var(--grayColorA);
  background: var(--grayColorA);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}
.kMBh0N .services li a:hover {
  background: rgba(0, 0, 0, 0.01);
}
.kMBh0N .services li a:hover .ico-holder {
  border-color: var(--theme-color);
}
